// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #272343;
$yellow: #FFD803;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-blue: #F3FBFB;
$middle-blue: #BAE8E8;

// Bleu foncé : #272343
// jaune : #FFD803
// bleu moyen :
// bleu clair : #F3FBFB
