<% if (controller_name == "pages" && action_name == "home") %>
  <div class="footer footer-home">
<% else %>
  <div class="footer">
<% end %>

  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Made with  <i class="fa-solid fa-heart"></i>  at Le Wagon Paris</p>
    </div>
  </div>
</div>
