<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <form class="d-flex" role="Email address">
        <input class="form-control me-2" type="Email address" placeholder="Email address" aria-label="Email address">
        <button type="button" class="btn btn-outline-secondary">Login</button>      </form>
</div>
  </div>
</div>
