
.banner {
  background-size: fill;
  background-position: center;
  padding: 250px 0;
  // background-image: url('batal.jpg')

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 37px;
  font-weight: bold;
}

.banner p {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
