.btn-gradient {
  color: $light-blue;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background:#ffe02f;
  transition: background 0.3s ease;
  border: 1px solid #ffe02f;
  text-decoration: none;
}

.btn-gradient:hover {
  background: linear-gradient(#FFE02F, #caac01);
  color: white;
}

.btn-primary{
    border-radius: 100px;
  }


.search-index {
  border: 0.5px solid $middle-blue;
  border-radius: 100px;
  background-color: white;
  display: block;
  padding: 5px 5px 5px 10px;
  .form-control {
    border: none;
    border-radius: 25px;
    background-color: white;
  }
  i {
    color: white;
  }
}

.search-home {
  border: none;
  border-radius: 100px;
  background-color: white;
  display: block;
  padding: 10px 10px 10px 20px;
  .form-control {
    border: none;
    border-radius: 25px;
    background-color: white;
  }
  i {
    color: white;
  }

.btn-cat {
  background-color: #272343;
  box-sizing: 4px;
  color: white;
  font-weight: 600;
  margin-bottom: 25px;

}
