.btn-gradient {
  color: $light-blue;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background:#ffe02f;
  transition: background 0.3s ease;
  border: 1px solid #ffe02f;
  text-decoration: none;
}

.btn-gradient:hover {
  background: linear-gradient(#FFE02F, #caac01);
  color: white;
}
