.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap: 16px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  border-radius: 5px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  color: #272343;
  margin: 0;
  margin-top: 10px;
}

.card-trip p {
  font-size: 12px;
  // opacity: .7;
  margin: 0;
  color: black;
  font-weight: $font-weight-light;
}


.card-trip .card-trip-infos {
  padding: 25px 35px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  border-bottom: 3px;
}

.card-trip-infos .card-trip-user {
  right: 16px;
  bottom: 5px;
  width: 40px;
}

.card-trip-infos .button {
  background-color: #272343;
  color: whitesmoke;
  // padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
  // border: 1px solid #4A4A4A;
  width: fit-content;
  padding: 2px 6px 2px 6px;
}

.cards a {
  text-decoration: none;
}

.card-user {
  padding: 16px 12px 0 0;
  border-top: 1px solid #eaeaea;
  margin-top: 20px;
  color: grey;
  font-weight: 300;
  // display: flex;
}

.card-user p {
  font-weight: 700;
  display: contents;
  font-weight: 300;
}

.d-flex {
  margin-top: 50px;
}

.container-show {
  border-radius: 5px;
  box-shadow: 0px 0px 7px 3px #dfdfdf;
}
