
.footer {
  background: #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 55px;
  color: rgba(0, 0, 0, 0.3);
  /* position: absolute; */
  width: 100%;
  /* padding-top: 50px; */
  /* height: 50px; */
  /* margin-top: 25px; */
  /* bottom: 0; */
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-home {
  color: white;
  background-color: transparent;
  .footer-links a {
    color: white;
    opacity: 0.8;
  }
}
