.footer {
  background: #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 50px;
  color: rgba(0,0,0,0.3);
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
