// Navbar LE WAGON ///

.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .dropdown-menu {
  border-radius: 8px;
}

.HellonoHover{
  pointer-events: none;
  text-align: center;
  border-bottom: 0.5px solid $blue;
}

// Navbar White ///

.navbar-lewagon-white {
  background-color: white;
}
.navbar-lewagon-white a{
 color: $blue;
  &:hover {
    color : $blue;
  }
}

// Navbar Home ///

.navbar-home a {
  color: white;
  &:hover {
    color : white;
  }
}
.navbar .dropdown a {
  color: $blue;
}
