// Navbar LE WAGON ///

.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
    .navbar-collapse {
      flex-grow: 0;
    }
    .navbar-brand img {
      width: 40px;
    }
}

// Navbar White ///

.navbar-lewagon-white {
  background-color: white;
  box-shadow: $box-shadow-cards;
    a {
      color: $blue;
      &:hover {
      color : $blue;
      }
    }
}

// Navbar Home ///

.navbar-home a {
  color: white;
  &:hover {
    color : white;
  }
}

// DROPDOWN MENU

.navbar .dropdown a {
  color: $blue;
}

.navbar .dropdown-menu {
  border-radius: 3px;
}

.HellonoHover{
  pointer-events: none;
  text-align: center;
  border-bottom: 0.5px solid $blue;
}
