.form-inputs .description{
  border-radius: 5px;
}

.container {
  font-family: "Roboto", sans-serif;
}

h1{
  text-align: center;
  font-size: 30px;
  font-weight: 1000;
  line-height: 2.5;
  font-family: "Roboto", sans-serif;
}
